.status{
  width: 150px;
  height: 150px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
  font-weight: 900;
  sub,i{
    color:#0DCAF0;
  }
}

.cate{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.4);
  color: white;

  .edit{
    color: white;
    &:hover{
      color: black;
    }
  }
  .delete{
    &:hover{
      color: white;
    }
  }

  .cateName{
    font-size: 30px; font-weight: 600;
  }
}


.add{
  &:hover{
    color: white;
  }
}



.addCommponent{
  position: absolute;
  background-color: rgba($color: white, $alpha: 0.4);
  transition: all 1s ease-in-out;
  z-index: 999;
  left: 50%;
  transform: translate(-50%,-50%);
}


.admin,.user{
  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

@media screen and (max-width:800px) {
  .status{
    width: 110px;
    height: 110px;
    font-size: 20px;
  }

  .cateName{
    font-size: 15px !important;
  }
}


.post{
  overflow: hidden;
  position: relative;
  height: 300px;
  img{
    width: 100%;
    height: 300px;
  }
  .caption{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    ul{
      list-style: none;
      display: flex;
      li{
        padding: 10px;
        color: white;
        font-size: 20px;
      }
    }
  }

  &:hover .caption{
    opacity: 1;
  }

}

.content{
  overflow: hidden;
  position: relative;
  .delete{
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    transition: all 0.2s ease-in-out;
    z-index: 90;
    top: 10px;
    right: -50px;
    width: 30px;
    height: 30px;
    &:hover .btn{
      background-color: red;
      color: white !important;
    }
  }
  &:hover .delete{
    right: 25px;
  }

  .edit{
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 90;
    top: 10px;
    right: -50px;
    width: 30px;
    height: 30px;
    .btn{
      color: white;
    }
    &:hover .btn{
      background-color: yellow;
      color: black;
    }
  }

  &:hover .edit{
    right: 60px;
  }
}
