<div class="sideBar"  [ngStyle]="{left: show ? '0px' : width}" >
  <div class="content  py-5 h-100 bg-opBlack">
    <div class=" h-100 overflow-auto p-3">
      <a [routerLink]="['/userDetails',item.id]" style="text-decoration: none; color: black;" *ngFor="let item of users">
        <div class="rounded-pill bg-white mt-2 p-1" >
          <img style="width: 50px;height: 50px;" class="rounded-circle" [src]="imgPrefix+item?.photoName" [alt]="item?.userName"> : <span style="font-weight: 800; font-size: 16px;">{{item?.userName}}</span>
        </div>
      </a>


    </div>
    <div class="icon bg-info" (click)="toggel()">
      <i class="fas fa-users"></i>
    </div>
  </div>

</div>
