<header class="py-5">

<div class="container px-5 pt-5">

  <div class="row  text-white" >
    <div class="col-md-5">
      <div class="profile-image text-center">

        <img style="width: 200px; height: 200px; border-radius: 50%;" [src]="imgPrefix+user?.photoName" alt="">

      </div>
    </div>
    <div class="col-md-7">

      <div class="profile-user-settings">

        <h1 class="profile-user-name">      {{user?.userName}}        </h1>
        <h3 class="profile-user-name">{{user?.email}}</h3>
        <p><span class="profile-real-name">{{user?.phoneNumber}}</span> 📷✈️🏕️</p>

      </div>

      <div class="profile-stats">

        <ul>
          <li><span class="profile-stat-count">{{user?.posts?.length}}</span> posts</li>
          <li><span class="profile-stat-count">{{user?.comments?.length}}</span> Comments</li>
          <li><span class="profile-stat-count">{{user?.savedPosts?.length}}</span> Saved Posts</li>
        </ul>

      </div>



    </div>
  </div>
  <div class="profile">







  </div>
</div>
		<!-- End of profile section -->
	<!-- End of container -->
</header>


<section class="py-5">
  <div class="row">
    <div style="cursor: pointer;" class="col-md-4 mt-5 content" *ngFor="let post of posts">
      <div class="post" [routerLink]="[ '/postDetails', post?.id ]">
        <div>
          <img [src]="imgPrefix+post?.photoName" alt="">
        </div>
        <div class="caption">

          <div style="font-size: 21px; color: white;" *ngIf="post?.comments?.length == null;else name"> <i class="fas fa-comment" aria-hidden="true"></i> 0 </div>
          <ng-template #name>
          <div style="font-size: 21px; color: white;"> <i class="fas fa-comment" aria-hidden="true"></i> {{post?.comments?.length}} </div>
          </ng-template>

        </div>

      </div>
        <form class="delete" style="display: flex; justify-content: center; align-items: center;" *ngIf="CurrentUserId == post.userId" (ngSubmit)="deletePost(post)">
          <button  class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
        </form>


    </div>





  </div>
</section>



